[submodule "dracula/iterm"]
	path = dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "dracula/terminal"]
	path = dracula/terminal
	url = https://github.com/dracula/terminal.app.git
[submodule "dracula/zsh"]
	path = dracula/zsh
	url = https://github.com/dracula/zsh.git
